<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>com.trifork.ChargingStations</string>
    <key>CFBundleDisplayName</key>
    <string>Charging Stations App</string>
    <key>MinimumOSVersion</key>
    <string>18.0</string>
    <key>UILaunchStoryboardName</key>
    <string>Launch Screen</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your location is needed to show nearby stations</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>ich-tanke-strom.switzerlandnorth.cloudapp.azure.com</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                <true/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
